<div class="row">
    <div class="col-md-4 portfolio-item">
        <p hidden id="itemID">{{itemDetails.itemID}}</p>
        <p>{{itemDetails.name}}</p>
        <p>{{itemDetails.description}}</p>
        <p>{{itemDetails.price}}</p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> pay </button> 
    </div>
</div>
    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Make Payment</h4>
            </div>
            <div class="modal-body">
                <form stripe-form="stripeCallback" name="checkoutForm">
                    <span class="payment-errors"></span>
                    <div class="form-row">
                      <label>
                        <span>Card Number</span>
                        <input ng-model="number" placeholder="Card Number" payments-format="card" value="4242424242424242" />
                      </label>
                    </div>
                    <div class="form-row">
                      <label>
                        <span>Expiration (MM/YY)</span>
                        <input ng-model="expiry" placeholder="Expiration" payments-format="expiry" value="08/20" />
                      </label>
                    </div>
                    <div class="form-row">
                      <label>
                        <span>CVC</span>
                        <input ng-model="cvc" placeholder="CVC" payments-format="cvc" value="213" />
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="$('.modal').modal('hide')">Submit Payment</button>
                </form>    
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->